<div class = "hero">
  <div class = "frosty col-10 offset-1 text-center">
    <h1 class = 'my-3 my-lg-4'>Your online to-do list <span class = "badge badge-info">FREE</span></h1>
    <br />
    <br />
    <%= link_to new_user_session_path, class: 'btn btn-primary mr-3 col-5 col-md-3' do %>
      <i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp
      Sign in
    <% end %>
    <%= link_to new_user_registration_path, class: 'btn btn-secondary ml-3 col-5 col-md-3' do %>
      <i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp
      Sign up
    <% end %>
    <br />
    <br />
    <br />
  </div>
</div>
<div class = 'clear'></div>