<section class = "todoapp">
  <header class = "header">
    <h1>todos</h1>
    <form id = "new-form">
      <input type = "text" class = "new-todo" placeholder="+ Add a todo" />
    </form>
  </header>

  <section class = "main">
    <ul class = "todo-list">

    </ul>
  </section>
</section>

<button class = "clear-completed">Clear completed</button>

<section class = "author">
A <%= link_to 'todoMVC', "http://todomvc.com" %> application, built by 
<%= link_to 'Mike Dunnett-Stone', "http://www.github.com/mdunnettstone" %>
</section>